@model CircularMVC.Entity.Employee

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "Index", FormMethod.Post))
{
<table>
    <tr>
        <td>Employee Name</td>
        <td>@Html.TextBox("employeeName")</td>
    </tr>
    <tr>
        <td>
            Employee Phone Number
        </td>
        <td>
            @Html.TextBox("phoneNumber")
        </td>
    </tr>
    <tr>
        <td>
            Employee Department
        </td>
        <td>
            @Html.EnumDropDownListFor(model => model.department, "Select department")
        </td>
    </tr>
    <tr>
    <tr>
        <td>
            Employee Gender
        </td>
        <td>
            @Html.RadioButtonFor(model => model.employeeGender, "Male") Male
            @Html.RadioButtonFor(model => model.employeeGender, "Female") Female
        </td>
    </tr>
    <tr>
        <td>
            Reporting Manager
        </td>
        <td>
            @Html.EnumDropDownListFor(model => model.manager, "Select manager")
        </td>
    </tr>
    <tr>
    <tr>
        <td>
            Enter Designation
        </td>
        <td>
            @Html.TextBox("designation")
        </td>
    </tr>
    <tr>
        <td>
            Email id
        </td>
        <td>
            @Html.TextBox("emailid")
        </td>
    </tr>
    <tr>
    <tr>
        <td>
            <input type="submit" runat="server" />
        </td>
    </tr>
</table>
}
<div>
    @Html.ActionLink("BackToHome", "Home")
</div>